.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .card {
    height: 321px;
    width: 452px;
    background-color: #ebebeb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 8px;

    .logo-gmim {
      padding-left: 31px;
      padding-top: 10px;
      width: fit-content;
      height: fit-content;
    }

    .text-login-header {
      font-size: 24px;
      letter-spacing: 6px;
      line-height: 1px;
    }

    .text-login-inner {
      font-size: 15px;
      letter-spacing: 4.5px;
      line-height: 10px;
    }

    .form-login {
      padding-left: 31px;
      width: 94%;
      padding-bottom: 10px;
      box-sizing: border-box;

      .loading {
        justify-content: center;
        align-items: center;
        position: absolute;
        padding-block: 10px;
        padding-left: 120px;

        .loading-in {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
