.title {
  font-size: 40px;
}
.card-selector {
  padding-left: 24px;
  padding-right: 24px;
}

.form-section-add-data-kk-jemaat {
  padding-left: 24px;
  padding-right: 24px;

  .title-box-input {
    font-weight: 500;
  }

  .header-title {
    font-size: 24px;
    font-weight: bold;
  }

  .title-username {
    padding-left: 5px;
  }

  .input-section-data-kk-jemaat {
    border-radius: 8px;
    border: 2px solid;
    border-color: #2083aa;
  }
}
